*{
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:active,
:hover,
:focus{
    outline: 0;
    outline-offset: 0;
}
a,
a:hover{
    text-decoration: none;
}
a:hover{
    color: var(--primary-color) !important;
}
ul,
ol{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#9c3e3e;
    --secondary-color:#362727;
    --third-color:#ccb97a;
    --text-color:#555;
    --text-gray:#999;
    --black-color:#000;
    --primary-font:sans-serif;
    --secondary-font:sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}
section{
    padding: 25px 0;
}
h1{
    font-size: 80px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-family: sans-serif;
}
h1 span{
    color: var(--primary-color);
}
h2{
    font-size: 35px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

h3{
    font-size: 28px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

h5{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    
}
p{
    color: var(--black-color);
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 300;
}
.header_wrapper .navbar{
    padding: 15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.header_wrapper .navbar-brand img{
    max-width: 120px;
    max-height: auto;
}
.header_wrapper .nav-item{
    margin: 0 10px;
}
.header_wrapper .nav-item .nav-link{
    font-size:18px;
    font-weight: 500;
    letter-spacing: 1px;
    color:var(--black-color);
    display: inline-block;
}
.header_wrapper .nav-item .nav-link.hover , .header_wrapper .nav-item .nav-link.active{
    color: var(--primary-color);
}
.banner_wrapper
{
    padding-top: 100px;
}
.banner_wrapper .top-menu .card{
  height: 275px;
  overflow: hidden;
  cursor: pointer;
}
.banner_wrapper .top-menu .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
}
.banner_wrapper .top-menu .card:hover img
{
    transform: scale(1.1);
}
.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border-radius: 50px;
    border: 0.1875rem solid var(--primary-color);
    color: var(--primary-color);
    font-size: 0.9735rem;
    font-weight: 600;
    text-transform: capitalize;
    background: linear-gradient(to right, var(--primary-color 50%),transparent 50% );
    -webkit-transition: all .4sec ease-out 0s;
    -o-transition: all .4sec ease-out 0s;
    -moz-transition: all .4sec ease-out 0s;
    background-position: right bottom;
    transition: all .4sec ease-out 0s;
}
.main-btn:hover{
    color:var(--text-gray);
}
.about_wrapper{
    background-color: var(--text-gray);
    padding-bottom: 20px;
}
.about_wrapper .card{
    z-index: 10;
    right:-25%;
    
}
.menu_wrapper{
    width: 100%;
    height: auto;
    background-image:url("../Images/lidye.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: var(--black-color);
}
.menu_wrapper .row{
    padding-top: unset;
}
.menu_wrapper .card{
    background-color: var(--secondary-color);
}
.menu_wrapper .card h3, .menu_wrapper .card p{
    color: white;
}
.menu_wrapper .card h3 span{
    background-color: var(--primary-color);
    width:70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 20px;

}
.review_wrapper{
    width: 100%;
    height: auto;
    background-image:url("../Images/new.jpg") ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.review_wrapper .carousel-item{
    min-height: 500px;
    height: 100%;
}
.review_wrapper .carousel-item img{
    width: 50px;
    height: auto;
    margin-top: 25px;
}
/*custom scrolbar */
